<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Booster Panel</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">
    <link href="{{ base_url() }}/assets/css/style.css" rel="stylesheet">
    <link href="{{ base_url() }}/assets/css/mystyle.css" rel="stylesheet">

  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <div class="app-body">
      <div class="sidebar">

        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="{{ base_url() }}/booster-panel"><i class="nav-icon fal fa-user-secret"></i> Booster Dashboard</a></li>
            <!--<li class="nav-item nav-dropdown">

              <a class="nav-link nav-dropdown-toggle"><i class="nav-icon fal fa-exclamation-circle"></i> Available Orders</a>

              <ul class="nav-dropdown-items">
                <li class="nav-item"><a class="nav-link" href="{{ base_url() }}/booster-panel/orders/solo"><i class="nav-icon fal fa-exclamation-circle"></i> Solo Queue</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ base_url() }}/booster-panel/orders/duo"><i class="nav-icon fal fa-exclamation-circle"></i> Duo Queue</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ base_url() }}/booster-panel/orders/placements"><i class="nav-icon fal fa-exclamation-circle"></i> Placement Games</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ base_url() }}/booster-panel/orders/wins"><i class="nav-icon fal fa-exclamation-circle"></i> Normal Wins</a></li>
              </ul>
            </li>-->
            <li class="nav-item"><a class="nav-link" href="{{ base_url() }}/booster-panel/orders"><i class="nav-icon fal fa-exclamation-circle"></i> Available Orders</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ base_url() }}/booster-panel/order"><i class="nav-icon fal fa-exclamation-circle"></i> Your Orders</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ base_url() }}/booster-panel/order-history"><i class="nav-icon fal fa-exclamation-circle"></i> Order History</a></li>
          </ul>
        </nav>
      </div>

      <main class="main">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="{{ base_url() }}/booster-panel">Booster</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="fal fa-user"></i> Profile</a>
            </div>
          </li>
        </ol>

        <div class="container-fluid">
          <div class="animated fadeIn">

            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-primary">
                  <div class="card-body">
                    <div class="account_details">
                      <h3>Account Balance</h3>
                      <span><h4>{{ user.balance }}$</h4></span>
                      <p>Minimum amount to checkout is 200$</p>
                      <form action="{{ base_url() }}/booster-panel/checkout" method="post">
                        <input style="display: none;" type="number" name="userId" value="{{ user.id }}">
                        <input style="display: none;" type="number" name="balance" value="{{ user.balance }}">
                        <input style="display: none;" type="text" name="paypal" value="{{ user.paypal }}">
                        <button class="btn" type="submit" name="button">Request Checkout</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-primary">
                  <div class="card-body">
                    <div class="account_details">
                      <h3>Waiting Balance</h3>
                      <span><h4>{{ user.waiting_balance }}$</h4></span><br>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-primary">
                  <div class="card-body">
                    <div class="account_details">
                      <h3>Total Payouts</h3>
                      <span><h4>{{ user.payed_balance }}$</h4></span><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">

                <form action="{{ base_url() }}/booster-panel/updateBooster" method="post">
                  <p>If you don't enter your <strong>Paypal Email</strong> and <strong>OP.gg Link</strong> we won't be able to pay you for your boosting service.</p>
                  <input type="text" name="paypal" value="{{ user.paypal }}" placeholder="Paypal Email">
                  <br><br>
                  <input type="text" name="opgg" value="{{ user.opgg }}" placeholder="OP.gg Link">
                  <br><br>
                  <button class="btn" type="submit" name="button">Update Account</button>
                </form>

              </div>
            </div>

          </div>
        </div>

      </main>
    </div>

    <footer class="app-footer">
      <div>
        <a href="#">Boost App</a>
        <span>&copy; 2018 Boost Application</span>
      </div>
      <div class="ml-auto">
        <span>Powered by</span>
        <a href="#">Boost App</a>
      </div>
    </footer>

    <script src="{{ base_url() }}/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="{{ base_url() }}/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="{{ base_url() }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/node_modules/pace-progress/pace.min.js"></script>
    <script src="{{ base_url() }}/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="{{ base_url() }}/node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>
  </body>
</html>
